<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Got a talk idea? We want to see it!</h2>
        <p>
            We’re pleased to announce {{ site.title }}, a full-day cloud native conference
            for Developers, DBAs, Network Architects, DevOps Practitioners, CISOs & CTOs, Platform Owners and Architects.
        </p>

        <p>
            Interested in speaking at {{ site.title }}? Our call for proposals is open 
            now until {{ site.enddate }}. Proposals will be considered for the following types of presentations:
        </p>
        <ul>
            <li>3 Hours Tutorials - Pre-Conference</li>
            <li>10 min / Lightning Talks - Pre-Conference (*)</li>
            <li>30 min presentations - Main Conference</li>
            <li>2 Hours Tutorials - Online Conference</li>
            <li>20 min presentations - Online Conference</li>            
        </ul>
        <p>            
            Proposals should include as much detail about the topic and format for the presentation as possible. 
        </p> 

    </div>

    <div class="w-1/2 px-4">
        <h2>Speaker Package</h2>
        <p>
            We know speakers are key to the success of a conference and hope you will submit a talk.  
            In appreciation of your efforts, we include a <a href="{{ url('speaker_package') }}" class="text-brand text-bold">speaker compensation package</a>. (Because of budget restrictions, we can only financially support a limited number of speakers).
        </p>
        <p>
            (*) Please read our Speaker Package before summit your Lightning talk proposals.   
        </p>
    </div>
</div>

<div class="mt-8 px-4">
    <h2>Diversity Matters!</h2>
    <p>
        {{ site.title }} is committed to creating a conference that is as inclusive as possible.
        We want to showcase talent available around our local community and welcome international submissions as well.
    </p>
    <p>
        We are also committed to ensuring the conference is a place
        where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
        is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
        professional and courteous to each other. We reserve the right to remove, without refund,
        ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
    </p>
</div>
