<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Got a talk idea? We want to see it!</h2>
        <p>
            We’re pleased to announce the inaugural {{ site.title }}, the conference for developers, 
            teams and community come together to learn and share information about the latest
            trends and technologies in professional Web development.
        </p>

        <p>
            Interested in speaking at {{ site.title }}? Our call for proposals is open 
            now until {{ site.enddate }}. Proposals will be considered for the following types of presentations:
        </p>
        <ul>
            <li>3 hours tutorials - Pre-Conference</li>
            <li>7 min / Lightning talks - Pre-Conference (*)</li>
            <li>25 min presentations - Main Conference</li>
        </ul>
        <p>            
            Proposals should include as much detail about the topic and format for the presentation as possible. 
        </p> 

    </div>

    <div class="w-1/2 px-4">
        <h2>Speaker Package</h2>
        <p>
            We know speakers are key to the success of a conference and hope you will submit a talk.  
            In appreciation of your efforts, we include a <a href="{{ url('speaker_package') }}" class="text-brand text-bold">speaker compensation package</a>.
        </p>
        <p>
            (*) Please read our Speaker Package before summit your Lightning talk proposals.   
        </p>
    </div>
</div>

<div class="mt-8 px-4">
    <h2>Diversity Matters!</h2>
    <p>
        {{ site.title }} is committed to creating a conference that is as inclusive as possible.
        We want to showcase talent available around our local community and welcome international submissions as well.
    </p>
    <p>
        We are also committed to ensuring the conference is a place
        where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
        is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
        professional and courteous to each other. We reserve the right to remove, without refund,
        ANY attendee (speaker or otherwise) who is unable to adhere to this policy.
    </p>
</div>
