{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>{{ site.title }} Speaker Information</h2>

    <p>{{ site.title }} will be held from <span class="text-bold">{{ site.arrival|date(site.date_format, false) }}</span> 
    to <span class="text-bold">{{ site.departure|date(site.date_format, false) }}</span> in {{ site.event_location }}.
    Speakers from all around the world, leading projects and enterprise companies in the service mesh ecosystem and the amazing members from the local community will be gathering for the second edition of SMD. </p>

    <p>
        When the Call for Papers closes, the organizers will sort through the submissions, making
        their selections. Speakers will be notified as soon as the selection process has been completed.
    </p>
    <h3>This year's package</h3>
    <p>
        Our speaker package for this year's event includes:
    </p>
    <ul>
        <li>Full pre-conference & conference passes</li>
        <li>Invitation to the speakers dinner</li>
        <li>For international speakers</li>
        <ul>
            <li>
                If you cannot get reimbursed by your company please select the hotel & flight options in the registration form accordingly to your requiriments. Speaker reimbursements for travel and accommodation will be needs-based and please note that because of budget restrictions, we can only financially support a limited number of speakers.
            </li>            
        </ul>
        <li>Lunch, receptions and activities included in regular conference</li>
        <li>The opportunity to visit Melbourne and its many attractions</li>

    </ul>
    <p>
        All speakers are encouraged to <a href="/">submit their ideas</a>, but because of budget restrictions, we can only financially support a limited number of speakers.
    </p>
    <h3>Tips for Submission</h3>
    <p>
        We <i>strongly</i> encourage potential speakers to submit more than one submission on more than one topic. The
        more submissions you contribute, the more options you give us to pick you. Be sure your talk title and abstract
        define the exact topic you want to talk about and what you hope people will learn from the session. Not a Sales Pitch please.
    </p>
</div>
{% endblock %}
